body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    overflow: hidden;
}

.stats-container {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 20, 0, 0.7);
    border: 1px solid #0f0;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid #0f0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#stats p {
    margin: 5px 0;
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
}

#live-feed-container {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
    background-color: rgba(0, 20, 0, 0.7);
    border: 1px solid #0f0;
    border-radius: 5px;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#live-feed-container h2 {
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid #0f0;
    padding-bottom: 10px;
    margin: 0 0 10px 0;
}

#feed-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    flex-grow: 1;
}

#feed-list li {
    margin-bottom: 8px;
    font-size: 0.9em;
    border-bottom: 1px solid rgba(0, 255, 0, 0.1);
    padding-bottom: 5px;
}
